<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/auth/loginData">Login</a>
    <a href="/auth/registerData">Register</a>
    <a href="/pro/formData">form</a>
    <a href="/pro/home">home</a>
    <h1>Register Now</h1>
    <form action="" id="form">
        <label for="">Username : </label>
        <br>
        <input type="text" id="userName">
        <br> <br>
        <label for="">Email : </label>
        <br>
        <input type="email" id="userEmail">
        <br> <br>
        <label for="">Password : </label>
        <br>
        <input type="password" id="userPassword">
        <br> <br>
        <button>Register</button>
        <a href="/auth/loginData">Already have an account ?</a>
    </form>

    <script>
        const form = document.querySelector("#form");

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const userName = document.querySelector("#userName").value;
            const userEmail = document.querySelector("#userEmail").value;
            const userPassword = document.querySelector("#userPassword").value;

            fetch("/auth/register", {
                method: "POST",
                body: JSON.stringify({ userName, userEmail, userPassword }),
                headers: {
                    "Content-Type": "application/json; charset=UTF-8"
                }
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data)
                    if (data.success) {
                        window.location.href = "/auth/loginData";
                    }
                })
                .catch((error) => console.log(error))

            document.querySelector("#userName").value = "";
            document.querySelector("#userEmail").value = "";
            document.querySelector("#userPassword").value = "";
        })
    </script>
</body>

</html>