<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>To-Do App </h1>
    <form action="/addData" method="post">
        <label>Add Task : </label>
        <input type="text" name="name">
        <input type="submit" value="Add Task">
    </form>

    <% allTask.map((item)=>{ %>
        <p><%= item.name %></p>
        <a href="/edit/<%= item._id %>">Edit</a>
        <a href="/delete/<%= item._id %>">Remove</a>
    <% }) %>

</body>

</html>